<%- include('partials/header.ejs') %>

<main>
    <section class="companionsList">
        <% companions.forEach(companion => { %>
            <article>
                    <a href="/companion/<%= companion.CompanionId %>">
                        <span>
                            <%= companion.CompanionName %>
                        </span> 
                    <img src="/img/companions/<%= companion.CompanionId %>.jpg" alt="<%= companion.CompanionName %>">
                    </a> 
                </article>
        <%})%>
    </section>
</main>










<%- include('partials/footer.ejs') %>