<%- include('partials/header.ejs') %>

<main>
    <section class="doctorsList">

        <% if (locals.doctors && locals.doctors.length) { %>

        <% doctors.forEach(doctor => { %>
            <article>
                    <a href="/doctor/<%= doctor.DoctorId %>">
                    <img src="/img/doctors/<%= doctor.DoctorId %>.jpg" alt="<%= doctor.doctorName %>">
                    </a> 
                </article>
        <%})%>

        <% }  else  { %>
            <p>Pas de Doctor à afficher</p>
        <% }   %>
    </section>
</main>

<%- include('partials/footer.ejs') %>
