<%- include('partials/header.ejs') %>


<main>
    <section>
        <h1>Details du Doctor</h1>
                <article>
                    <img src="/img/doctors/<%= doctor.doctorNumero %>.jpg" alt="<%= doctor.doctorName %>">
                    #<%= doctor.doctorNumero %>
                </article>
                <h3>Informations</h3>
                <ul>
                    <li>Numéro : <%= doctor.doctorNumero %></li>
                    <li>Prénom et nom de l'acteur : <%= doctor.doctorName %></li>
                    <li>Date de naissance de l'acteur : <%= doctor.BirthDate %></li>
                    <li>Première apparition : <%= doctor.FirstEpisodeDate %></li>
                    <li>Dernière apparition : <%= doctor.LastEpisodeDate %></li>
                </ul>
    </section>
</main>




<%- include('partials/footer.ejs') %>
