<%- include('partials/header.ejs') %>

<main>
    <section class="doctorsList">
        <% doctors.forEach(doctor => { %>
            <article>
                    <a href="/doctor/details/<%= doctor.doctor_numero %>">
                    <img src="/img/doctors/<%= doctor.doctor_numero %>.jpg" alt="<%= doctor.doctor_name %>">
                    </a> 
                </article>
        <%})%>
    </section>
</main>










<%- include('partials/footer.ejs') %>
