<%- include('partials/header.ejs') %>


<main>
    <section>
        <h1>Details de <%= enemy.EnemyName %></h1>
                <article class="enemiesDetails">

                    <% if (locals.enemy) { %>

                    <img src="/img/enemies/<%= enemy.EnemyId %>.jpg" alt="<%= enemy.EnemyName %> picture">
                    
                    <aside>
                        <h3>Informations</h3>
                        <ul>
                            <li>Numéro : <%= enemy.EnemyId %></li>
                            <li>Nom / Dénommination : <%= enemy.EnemyName %></li>
                            <li>Description : <%= enemy.Description %></li>
                        </ul>
                    </aside>
                </article>
                <% }  else  { %>
                    <p>Pas d'ennemi à afficher</p>
                <% }   %>
    </section>
</main>




<%- include('partials/footer.ejs') %>
