<%- include('partials/header.ejs') %>

<main>
    <section class="enemiesList">
        <% enemies.forEach(enemy => { %>
            <article>
                    <a href="/enemy/<%= enemy.EnemyId %>">
                        <span><%= enemy.EnemyName %></span>
                    <img src="/img/enemies/<%= enemy.EnemyId %>.jpg" alt="#">
                    </a> 
                </article>
        <%})%>
    </section>
</main>










<%- include('partials/footer.ejs') %>